<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include = "fragments/head-tag :: head-tag">

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <!--start-->

    <div th:include = "fragments/header :: header">

    </div>


    <div th:include = "fragments/main-sidebar :: main-sidebar">

    </div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!--start-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div>
                    <h3 class="box-title text-center" style="text-align: center;font-weight: bold;">Personal Information</h3>
                </div>
            </div>
        </div>
        <!--end-->

        <!--carousal start-->
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <!--<div class="box-group" id="accordion">-->
                    <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->


                    <div class="panel box box-danger">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a aria-expanded="false" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                   Emergency Contact
                                </a>
                            </h4>
                        </div>
                        <!--<div style="height: 0px;" aria-expanded="false" id="collapseOne" class="panel-collapse collapse">-->
                        <div  aria-expanded="false" id="collapseOne" class="panel-collapse collapse in">

                            <div th:include = "forms/emergency-contact-form :: emergency-contact-form">

                            </div>

                        </div>
                    </div>


                <!--</div>-->
            </div>
        </div>
        <!--carousal ends-->
    </div><!-- /.content-wrapper -->

    <div th:include = "fragments/footer :: footer">

    </div>


    <div th:include = "fragments/control-sidebar :: control-sidebar">

    </div>
</div>


<div th:include = "fragments/bottom-js-declaration :: bottom-js-declaration">

</div>

</body>
</html>
